<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="modalDeposit">
    <div id="modalDeposit" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Deposit Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-alert-danger hide" style="">
                        <label id="transAmountDepo-error" class="error" for="transAmountDepo">
                        Transaction Amount is required
                    </label></div>
                    <form id ="frmDeposit">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="hidden">
                                <label for="cusIdDepo" class="form-label fw-bold">Customer ID
                                </label>
                                <input type="text" class="form-control" id="cusIdDepo" disabled >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="fullNameDepo" class="form-label fw-bold">Full Name
                                </label>
                                <input type="text" class="form-control" id="fullNameDepo" disabled >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="balanceDepo" class="form-label fw-bold">Current balance ($)
                                </label>
                                <input type="tel" class="form-control" id="balanceDepo" disabled >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="transAmountDepo" class="form-label fw-bold">Transaction Amount ($)
                                </label>
                                <input type="text" class="form-control" id="transAmountDepo" >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnDeposit" class="btn btn-outline-secondary">
                        Deposit
                    </button>
                </div>
            </div>
        </div>
    </div>

</th:block>